# Creación de la Base de Datos.

Ahora llega de momento de separar las bases de datos por tipo. 
- Absoluto
- Porcentaje

In [2]:
import pandas as pd
import os

# 
tidy_path = "..\\tidy_data"
# Extraemos el nombre de los archivos.
tidy_files = os.listdir(tidy_path)[1:]
td ={file: os.path.getctime(tidy_path +"\\" + file) for file in tidy_files}

sorted_tidy = dict(sorted(td.items(), key=lambda item:item[1]))
sorted_tidy

tidy_files = list(sorted_tidy.keys())
print(tidy_files)

['ComposicionTerritorial.xlsx', 'UbicacionGeografica.xlsx', 'DinamicaPoblacional2020.xlsx', 'EstructuraSexo2020.xlsx', 'GruposVulnerables2020.xlsx', 'HechosVitales2020.xlsx', 'Salud2022.xlsx', 'Educacion2020.xlsx', 'HogaresViviendas2020.xlsx', 'MedioAmbiente2020.xlsx', 'EntornoUrbano2020.xlsx', 'Estructuras2021.xlsx', 'Automoviles2022.xlsx', 'AccidentesTransito2022.xlsx', 'SeguridadSep2023.xlsx', 'Economia2021.xlsx', 'FinanzasMunicipales2021.xlsx']

Ahora veamos un ejemplo.

In [3]:
ex = pd.read_excel(tidy_path + "\\" + tidy_files[0])
ex.set_index(ex.columns[0], drop=True, inplace=True)
descriptor = pd.read_excel("..\\raw_data\\descriptor.xlsx")
new_cols = list(descriptor['Némonico'])

stop = 'Aconchi'

i = 0
while ex.index[i] != stop:
    i = i + 1

ex_i = ex.iloc[i:,:]

ex_i

,Localidades,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,AGEB,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Manzanas,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
Unnamed: 0,,,,,,,,,,,,,,,,,,
Aconchi,25,-,1,4,24,96,14,-,11,78.6,3,21.4,223,-,135,60.5,88,39.5
Agua Prieta,261,-,1,0.4,260,99.6,209,-,179,85.6,30,14.4,4115,-,3998,97.2,117,2.8
Alamos,529,-,1,0.2,528,99.8,67,-,14,20.9,53,79.1,2270,-,425,18.7,1845,81.3
Altar,351,-,1,0.3,350,99.7,68,-,31,45.6,37,54.4,394,-,341,86.5,53,13.5
Arivechi,97,-,1,1,96,99,11,-,5,45.5,6,54.5,182,-,65,35.7,117,64.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Villa Pesqueira,233,-,1,0.4,232,99.6,16,-,9,56.3,7,43.8,146,-,86,58.9,60,41.1
Yécora,478,-,1,0.2,477,99.8,30,-,9,30,21,70,431,-,172,39.9,259,60.1
Gral. Plutarco Elías Calles,202,-,1,0.5,201,99.5,82,-,54,65.9,28,34.1,1075,-,802,74.6,273,25.4
Benito Juárez,159,-,2,1.3,157,98.7,19,-,15,78.9,4,21.1,562,-,338,60.1,224,39.9
San Ignacio Río Muerto,301,-,2,0.7,299,99.3,32,-,23,71.9,9,28.1,570,-,411,72.1,159,27.9

Ahora lo aplicamos a todas las bases de datos.

In [4]:

def new_dfs(files: list):
    dfs = []
    for f in files:
        ex = pd.read_excel(tidy_path + "\\" + f)
        ex.set_index(ex.columns[0], drop=True, inplace=True)
        stop = 'Aconchi'
        i = 0
        while ex.index[i] != stop:
            i = i + 1
        ex_i = ex.iloc[i:,:]
        dfs.append(ex_i)
    return dfs

data = new_dfs(tidy_files)

In [8]:
data[2]

,Población Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Aconchi,2356,0.1,2420,0.1,2637,0.1,2563,0.1,1336,52.1,...,43,24.2,83,46.6,9,5.1,6,3.4,37,20.8
Agua Prieta,39120,2.1,61944,2.8,79138,3,91929,3.1,45811,49.8,...,1974,32.7,2865,47.4,216,3.6,144,2.4,839,13.9
Alamos,25564,1.4,25152,1.1,25848,1,24976,0.8,12909,51.7,...,146,23.9,258,42.2,59,9.7,20,3.3,128,20.9
Altar,6458,0.4,7253,0.3,9049,0.3,9492,0.3,4712,49.6,...,196,32.4,274,45.3,15,2.5,26,4.3,94,15.5
Arivechi,1774,0.1,1484,0.1,1253,0.05,1177,0.04,594,50.5,...,26,25.2,49,47.6,2,1.9,0,0,26,25.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Villa Pesqueira,1686,0.1,1590,0.1,1254,0.05,1043,0.04,592,56.8,...,24,36.9,26,40,2,3.1,0,0,13,20
Yécora,5145,0.3,6069,0.3,6046,0.2,4793,0.2,2415,50.4,...,33,33,34,34,6,6,0,0,27,27
Gral. Plutarco Elías Calles,9728,0.5,11278,0.5,15652,0.6,13627,0.5,6727,49.4,...,314,32.2,446,45.8,24,2.5,40,4.1,150,15.4
Benito Juárez,NaN,NaN,21813,1,22009,0.8,21692,0.7,10901,50.3,...,146,19.4,414,55.1,36,4.8,10,1.3,146,19.4
San Ignacio Río Muerto,NaN,NaN,13692,0.6,14136,0.5,14279,0.5,7342,51.4,...,98,22,237,53.3,13,2.9,0,0,97,21.8